@font-face { 
    font-family: 'Jameel Noori Nastaleeq'; 
    src: url(https://github.com/alifain95/jnn95/blob/243e460352f76b9f47b128a1188cb75413d026b3/Jameel%20Noori%20Nastaleeq%20Regular.woff); 
    font-weight: normal; 
    font-style: normal; 
 line-height: 2; 
}
