@font-face { 
    font-family: 'Jameel Noori Nastaleeq'; 
    src: url(https://github.com/alifain95/jnn95/blob/main/Jameel%20Noori%20Nastaleeq%20Regular.ttf); 
    font-weight: normal; 
    font-style: normal; 
 line-height: 2; 
}
