@font-face { 
    font-family: 'Jameel Noori Nastaleeq'; 
    src: url(https://www.dropbox.com/scl/fi/o0dfldfvyir8j5t1yd6wt/Jameel-Noori-Nastaleeq-Regular.woff); 
    font-weight: normal; 
    font-style: normal; 
 line-height: 2; 
}